*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body, #root {
  height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  overflow: hidden;
}
.header_custom{
  position: relative;
  z-index: 1;
}
.header_custom::before{
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 1.5rem);
  background-color: white;
}
@media (max-width: 900px) {
  .m-w-75 {
    width: 80% !important;
  }
}